<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.spring.newseekers.board.repository.IBoardRepository">
	<resultMap id="getBoard"
		type="com.spring.newseekers.board.model.BoardVO">
		<result property="community_num" column="community_num" />
		<result property="title" column="title" />
		<result property="user_id" column="user_id" />
		<result property="content" column="content" />
		<result property="date_created" column="date_created" />
		<result property="hit" column="hit" />
		<result property="group_num" column="group_num" />
		<result property="step_num" column="step_num" />
		<result property="indent_num" column="indent_num" />
	</resultMap>

	<select id="getList" parameterType="int" resultMap="getBoard">
		SELECT
		community_num, user_id, title, content,
		TO_CHAR(date_created,
		'YYYY-MM-DD') AS date_created,
		hit, group_num, step_num, indent_num
		FROM (
		SELECT community_num, user_id, title, content, date_created,
		hit, group_num,
		step_num, indent_num ,
		ROW_NUMBER() OVER (ORDER BY
		group_num DESC, step_num ASC) AS rnum
		FROM COMMUNITY
		)
		WHERE rnum BETWEEN
		#{startRow} AND #{endRow}
	</select>
	<select id="getListSize" resultType="int">
		select count(*) from
		community
	</select>
	<select id="indexList" resultMap="getBoard">
	    <![CDATA[
		SELECT community_num, user_id, title, 
		TO_CHAR(date_created, 'YYYY-MM-DD') AS date_created  
		FROM ( SELECT * FROM COMMUNITY ORDER BY community_num DESC) 
		WHERE ROWNUM<=7
    	]]>
	</select>
	<update id="upHit" parameterType="string">
		update COMMUNITY set hit = hit
		+ 1 where community_num= #{community_num}
	</update>
	<select id="contentView" parameterType="string"
		resultMap="getBoard">
		select community_num, user_id, title, content,
		TO_CHAR(date_created, 'YYYY-MM-DD') AS date_created,
		hit, group_num, step_num, indent_num from COMMUNITY
		where community_num=
		#{community_num}
	</select>


	<select id="modifyView" parameterType="string"
		resultMap="getBoard">
		select community_num, user_id, title, content,
		TO_CHAR(date_created, 'YYYY-MM-DD') AS date_created,
		hit, group_num, step_num, indent_num 
		from COMMUNITY where community_num=
		#{community_num}
	</select>
	<update id="modify"
		parameterType="com.spring.newseekers.board.model.BoardVO">
		update COMMUNITY set content=#{content}, title=#{title}
		where community_num=#{community_num}
	</update>
	<delete id="delete" parameterType="string">
		delete from COMMUNITY where
		community_num = #{community_num}
	</delete>
	<insert id="write"
		parameterType="com.spring.newseekers.board.model.BoardVO">
		insert into
		COMMUNITY(community_num, user_id, title,
		content, hit, group_num, step_num, indent_num)
		values(COMMUNITY_seq.nextval,#{user_id},#{title},#{content},0,COMMUNITY_seq.currval,0,0)
	</insert>
	<select id="reply_view" parameterType="string"
		resultMap="getBoard">
		select community_num, user_id, title, content,
		TO_CHAR(date_created, 'YYYY-MM-DD') AS date_created,
		hit, group_num, step_num, indent_num from COMMUNITY where community_num=
		#{community_num}
	</select>
	<insert id="reply"
		parameterType="com.spring.newseekers.board.model.BoardVO">
		insert into COMMUNITY(community_num, user_id, title,
		content, group_num, step_num, indent_num)
		values
		(COMMUNITY_seq.nextval,#{user_id},#{title},#{content},#{group_num},
		#{step_num}+1, #{indent_num}+1)
	</insert>
	<update id="replyShape"
		parameterType="com.spring.newseekers.board.model.BoardVO">
		update COMMUNITY set
		step_num = step_num+1 where
		group_num = #{group_num} and step_num >
		#{step_num}
	</update>
</mapper>