@font-face {
	font-family: 'NPSfontBold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2')
		format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'SUITE-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2')
		format('woff2');
	font-weight: 400;
	font-style: normal;
}

* {
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'NPSfontBold';
	/* border: 1px solid black; */
}

/* gu_rank */
#screen1 {
	width: 80%;
	height: 300px;
	margin-top: 100px;
	display: flex;
}

#screen1_container {
	/* background-color: #8a8a8a; */
	width: 1320px;
	margin: 0 auto;
	justify-content: space-around;
}

#screen1_titleMent {
	border-left: 4px solid rgb(30, 92, 68);
	padding-left: 20px;
}

#gu_box {
	width: 100%;
	padding: 20px 30px 20px 40px;
	height: 180px;
	border: 3px solid rgb(30, 92, 68);
	border-radius: 10px;
	margin-top: 50px;
}

#local_box {
	font-size: 1.8rem;
}

#gu_rankBox {
	margin-top: 15px;
}

#gu_rank {
	font-size: 1.6rem;
	margin: 10px 0px 10px 15px;
	font-weight: bold;
}

#gu_peopleBox {
	margin-top: 15px;
}

#gu_people {
	margin-left: 15px;
	font-weight: bold;
}

#gu_nameBox {
	/* background-color: aquamarine; */
	margin-top: 150px;
	height: 100px;
	font-size: 1.8rem;
}

#gu_name {
	color: rgb(48, 159, 44);
	font-size: 2.5rem;
}

#screen1_chart {
	width: 80%;
	margin-top: 70px;
}

#screen1_chartBox {
	width: 90%;
	margin: 0 auto;
}

#security {
	margin: 20px 0px 40px 0px;
	font-size: 1.5rem;
	text-align: center;
}

.security_box {
	/* background-color: #8a8a8a; */
	border: 1px solid rgb(30, 92, 68);
	border-radius: 10px;
	/* height: 250px; */
	margin: 0 auto;
	padding-top: 30px;
	box-shadow: 0px 0px 15px rgb(118, 117, 117);
}

#cctv {
	width: 300px;
	height: 250px;
}

#cctv p {
	border-left: 4px solid rgb(30, 92, 68);
	margin-left: 20px;
	padding-left: 10px;
}

#light {
	width: 300px;
	height: 250px;
}

#light p {
	border-left: 4px solid rgb(30, 92, 68);
	margin-left: 20px;
	padding-left: 10px;
}

#police {
	width: 300px;
	height: 250px;
}

#police p {
	border-left: 4px solid rgb(30, 92, 68);
	margin-left: 20px;
	padding-left: 10px;
}

@media all and (max-width:1279px) {
	#gu_nameBox {
		/* background-color: aquamarine; */
		margin-top: 170px;
		height: 100px;
		font-size: 1.3rem;
	}
	#gu_name {
		font-size: 2.5rem;
	}
	#local_box {
		font-size: 1.3rem;
	}
	#gu_rank {
		font-size: 1.3rem;
	}
	#police {
		margin-top: 3%;
	}
}

@media all and (max-width:991px) {
	#gu_nameBox {
		margin-top: 50px;
		text-align: center;
	}
	#screen1_chart {
		margin-top: 120px;
	}
	#gu_nameBox {
		font-size: 1.2rem;
	}
	#gu_name {
		font-size: 2.5rem;
	}
}

@media all and (max-width:801px) {
	#screen1_container {
		margin-top: 20px;
	}
	#light {
		margin-top: 2%;
	}
	#police {
		margin-top: 2%;
	}
}

/* arRate graph */
#screen2 {
	width: 100%;
	margin-top: 40px;
}

#screen2_container {
	width: 80%;
	margin: 0 auto;
	padding-top: 30px;
}

#safety_rank {
	margin: 20px 0px 40px 0px;
	font-size: 1.5rem;
	text-align: center;
}

#screen2_chartBox {
	margin: 0 auto;
	width: 500px;
	height: 300px;
	border: 1px solid rgb(30, 92, 68);
	border-radius: 10px;
}

#chart_result {
	border: 3px solid gray;
	margin: 0 auto;
	width: 500px;
	height: 300px;
	box-shadow: 0 10px 10px rgba(57, 75, 94, 0.5);
	padding: 10px;
	border-radius: 10px;
}

.btn-group {
	margin: 0 auto;
	width: 100%;
}

#chart_resultMent {
	width: 100%;
	height: 250px;
	text-align: center;
	/* background-color: aqua; */
	line-height: 60px;
	font-size: 1.3rem;
}

#chart_resultMent3 {
	font-size: 1.8rem;
}

#chart_resultMent span {
	width: 100%;
	height: 80px;
	margin: 0 auto;
}

#lower {
	height: 100px;
	text-align: center;
}

/* 체감안전도 박스 반응형 */
@media all and (max-width:1273px) {
	#chart_result {
		margin-top: 3%;
	}
}

/* policeStation table */
#policeStationBox {
	margin-top: 140px;
	width: 80%;
}

#policeAddr {
	border-left: 4px solid rgb(30, 92, 68);
	padding-left: 20px;
	margin: 30px 0px 50px 20px;
}

#policeStationTable {
	width: 90%;
	border-top: 2px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	padding: 5px 0px 5px 0px;
	margin: 0 auto;
}

#policeStationTitle>tr>td {
	padding: 7px 0px 7px 0px;
}

#policeStationData>tr>td {
	border-top: 1px solid #ccc;
	padding: 7px 0px 7px 0px;
}

/* map */
#map_container {
	width: 80%;
	margin-top: 100px;
}

#map_box {
	margin: 0 auto;
	margin-top: 80px;
	width: 100%;
	height: 600px;
}

#map_ment1 {
	border-left: 4px solid rgb(30, 92, 68);
	padding-left: 20px;
	font-size: 1.8rem;
	margin: 30px 0px 10px 20px;
	padding-left: 10px;
}

#policeq {
	width: 200px;
	text-align: center;
	margin-top: -20px;
	margin-left: 20px;
	color: rgb(51, 153, 114);
}

#policeq:hover {
	cursor: pointer;
}

#modalContainer2 {
	position: relative;
}

#modalContent2 {
	position: absolute;
	display: none;
	z-index: 1000;
	top: -40px;
	left: 240px;
	width: 40%;
	backdrop-filter: blur(30px);
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 1px rgb(160, 160, 160);
}

#map_ment2 {
	margin: 0px 0px 40px 30px;
	padding-left: 10px;
	font-size: 1.3rem;
}

.map_wrap {
	position: relative;
	width: 100%;
	height: 550px;
	/* background-color: #8a8a8a; */
}

.radius_border {
	border: 1px solid #919191;
	border-radius: 5px;
}

.custom_zoomcontrol {
	position: absolute;
	top: -400px;
	right: 40px;
	width: 46px;
	height: 100px;
	overflow: hidden;
	z-index: 1;
	background-color: #f5f5f5;
}

.custom_zoomcontrol span {
	display: block;
	width: 46px;
	height: 50px;
	text-align: center;
	cursor: pointer;
}

.custom_zoomcontrol span img {
	width: 23px;
	height: 46px;
	padding: 12px 0;
	border: none;
}

.custom_zoomcontrol span:first-child {
	border-bottom: 1px solid #bfbfbf;
}

#park_mapBox {
	margin: 0 auto;
	position: relative;
}

#map {
	width: 100%;
	height: 700px;
	border-radius: 50px;
	box-shadow: 0px 0px 5px 1px grey;
	padding: 0;
}

#modal {
	position: relative;
	/* justify-content: center; */
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 50px;
	z-index: 999;
	cursor: pointer;
	height: 100%;
	width: 100%;
	padding: 10px;
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	width: 60%;
	text-align: center;
	border-radius: 50px;
}

.label {
	background-color: white;
	border-radius: 50px;
	width: 110px;
	text-align: center;
	opacity: 0.8;
}

.label2 {
	background-color: white;
	border-radius: 50px;
	width: 110px;
	text-align: center;
	opacity: 0.8;
}

.title {
	font-weight: bold;
	display: block;
}

.hAddr {
	position: absolute;
	left: 10px;
	top: 10px;
	border-radius: 2px;
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	z-index: 1;
	padding: 5px;
}

/* @media all and(max-width:1273px) {
    #map_ment1 {
        margin-top: 1300px;
    }
} */
#park_security {
	background-color: rgba(194, 195, 193, 0.757);
	border-radius: 10px;
	width: 180px;
	height: 100px;
	padding: 10px 0px 0px 20px;
	margin: 20px 0px 0px 20px;
	position: absolute;
	z-index: 2;
}

#park_securityMent {
	font-size: 0.8rem;
	padding-bottom: 10px;
}

.security_count {
	font-size: 1rem;
}

#park_list {
	margin-top: 30px;
}

.park_i {
	width: 100%;
	margin-bottom: 15px;
	font-size: 1.3rem;
}

.park_i span {
	padding-bottom: 2px;
	font-size: 1rem;
}

#park_information {
	border: 3px solid rgb(30, 92, 68);
	border-radius: 10px;
	width: 100%;
	/* height: 400px; */
	padding: 20px 10px 10px 20px;
}

@media all and (max-width:1024px) {
	#map_container {
		width: 100%;
	}
}

#sidebar {
	height: 400px;
	width: 40px;
	backdrop-filter: blur(3px);
	position: fixed;
	left: 0;
	top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	transition: 1s;
	z-index: 100;
}

#sidebar:hover {
	width: 60px;
}

#sidebar a {
	text-decoration: none;
	color: rgba(74, 187, 82, 0.762);
	font-size: 28px;
	cursor: pointer;
}

#sidebar a:hover {
	color: rgb(95, 166, 71);
}

/*모달창 css*/
.modal-body {
	text-align: center;
}

/* 모달창 전체 크기 조절 */
.modal-dialog {
	width: 50%;
}
