@font-face {
	font-family: 'NPSfontBold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'SUITE-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

* {
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'NPSfontBold';
	/* border: 1px solid black; */
}

/*  header  */
.headbar {
	background: white;
	justify-content: end;
}

.navbar {
	width: 100%;
}

#logo {
	margin-left: 60px;
}

#logo img {
	width: 200px;
	padding: 10px 0px 10px 0px;
}

#navMenu {
	margin-left: 30%;
}

.navbar-nav {
	height: 50px;
	align-items: right;
}

.nav-item {
	margin: 0px 30px 0 30px;
	padding-top: 5px;
	color: black;
	text-align: center;
}

.nav-item p {
	width: 130px;
	height: 2.2rem;
	padding: 0px 3px 0px 3px;
}

.nav-item p:hover {
	border-bottom: 3px solid #8a8a8a;
}

@media (max-width : 767px) {

	/* .headbar {
        text-align: center;
        background: rgba(255, 255, 255, 1);
    } */
	.navbar-toggler {
		margin-inline-start: 85%;
	}

	#navMenu {
		margin-top: 20px;
		height: 190px;
	}

	#navMenu li {
		margin-left: 30%;
		width: 120px;
	}

	#logo img {
		width: 100px;
		margin-left: 50%;
	}

	.nav-item a {
		/* background-color: aqua; */
		height: 33px;
	}

	.nav-item p {
		/* background-color: #8a8a8a; */
		height: 30px;
		width: 120px;
		font-size: 0.9rem;
	}
}

@media all and (max-width: 1190px) {
	#logo img {
		width: 200px;
	}

	.nav-item {
		width: 110px;
		margin-left: 10px;
		padding-top: 5px;
	}
}

@media all and (max-width:1200px) {
	#logo {
		margin-left: 1%;
	}
}

@media all and (max-width: 1652px) {
	#logo {
		margin-left: 4%;
	}

	#navMenu {
		margin-left: 5%;
	}
}

/*모달창 css*/
.modal-body {
	text-align: center;
}

.modal-dialog {
	width: 300px;
	height: 400px;
}

.modal-dialog img {
	width: 80%;
}

/* footer */
#footer_container {
	background-color: #c5c4c4;
	height: 150px;
	margin-top: 200px;
}

#footer_box {
	display: flex;
	width: 100%;
	height: 100%;
	padding-left: 30px;
	/* margin-top: 30px; */
}

#footer_address {
	width: 100%;
	height: 100%;
}

#footer_address li {
	height: 30px;
	line-height: 90px;
	font-size: 1rem;
}

#footer_info {
	width: 100%;
	display: flex;
}

#footer_info div {
	margin-top: 40px;
	width: 100%;
	height: 100px;
	text-align: center;
	font-size: 1rem;
	/* background-color: aqua; */
}

/* 링크 a태그 데코레이션 빼려고 */
a:link {
	/* 텍스트 링크 들어가기전 */
	text-decoration: none;
	color: black;
}

a:visited {
	/* 텍스트 링크 들어갔던것 */
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

a:active {
	/* 텍스트 링크 클릭하고 뗄때까지 */
	text-decoration: none;
	/* 텍스트 링크 밑줄 없애기 */
	color: black;
}